/ob
#R_O2tm=-2
R_LDH_L=-2
#R_L_LACt4r=-2
#R_L_LACt2r=-2
R_GLCt4=-10
R_PEPCK=-20
R_PEPCKm=-20
R_DM_atp_c_=10000
R_DM_custombiomass=5000
/block
#R_r0355
#R_r1464
/block
R_LDH_D
R_L_LACtcm
R_L_LACtcm
R_L_LACtm
R_L_LACDcm
R_r0941
R_GLCGLUT2
#to get it running
R_GLCt2_2
R_GLCSGLT1le
R_EX_asp_L_LPAREN_e_RPAREN_
/ub
R_DM_atp_c_=500
R_DM_custombiomass=25
#R_DM_custombiomass=0
#C1R_DM_atp_c_=900
#C1R_DM_custombiomass=100
#C2R_DM_atp_c_=900
#C2R_DM_custombiomass=100
#C3R_DM_atp_c_=900
#C3R_DM_custombiomass=100
/block
R_r0885
R_DM_nadph_c
#C1R_DM_nadph_c
#R_EX_ac_LPAREN_e_RPAREN_
#simulate anti-warburg meds
#R_LDH_L
/lb
R_GLCt4=0
#C1R_GLCt4=0
#/c
#R_GLUt2m
#10
#/c